.service_section {
    text-align: center;
    position: relative;
  }
  
  .service_section .custom_heading-container {
    margin-bottom: 15px;
  }
  
  .service_section .service_container {
    padding: 45px 0 75px 0;
  }
  
  .service_section .box.b-2 .detail-box {
    /* width: 60%; */
    /* text-align: right; */
    /* overflow: hidden; */
  }
  
  /* .service_section .box.b-2 .detail-box p {
    height: 52px;
    overflow: hidden;
  } */
  
  /* .service_section .box.b-2 .detail-box a {
    min-width: 100px;
  } */
  
  .service_section .box.b-3 .detail-box {
    /* width: 60%; */
    /* margin-left: auto; */
    /* overflow: hidden; */
    /* text-align: left; */
  }
  
  /* .service_section .box.b-3 .detail-box p {
    height: 52px;
    overflow: hidden;
  } */
  
  /* .service_section .box.b-3 .detail-box a {
    min-width: 100px;
  } */
  
  .service_section .img-box img {
    height: 200px;
    width: 12rem;
    margin-left: 0%;
    margin-right: 0%;
  }
  
  .service_section .detail-box {
    height: 118px;
    margin-top: 10px;
  }
  
  .service_section .detail-box h6 {
    font-weight: bold;
  }
  
  .service_section .detail-box .btn-box a {
    color: #ff4f5a;
  }
  
  .service_section .detail-box .btn-box hr {
    background-color: #ff4f5a;
  }
  
  .service_section::before {
    content: "";
    width: 200px;
    height: 175px;
    position: absolute;
    bottom: 95px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-size: cover;
    /* background-image: url(../images/worker.png); */
  }

  .custom_heading-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  
  .custom_heading-container h3 {
    text-transform: uppercase;
    font-weight: bold;
    color: #000000;
    position: relative;
  }