
.sub_page .hero_area {
    height: auto;
  }
  
  .hero_area.sub_pages {
    height: auto;
  }
  
  .header_section {
    background-color: #000000;
    font-family: "Poppins", sans-serif;
  }
  
  .header_section .container-fluid {
    padding-right: 25px;
    padding-left: 25px;
  }
  
  .header_section .nav_container {
    margin: 0 auto;
  }
  
  .custom_nav-container .navbar-nav .nav-item .nav-link {
    padding: 10px 30px;
    color: #ffffff;
    text-align: center;
    position: relative;
  }
  
  .custom_nav-container .navbar-nav .nav-item .nav-link::before {
    content: "";
    display: none;
    position: absolute;
    bottom: 7px;
    left: 50%;
    width: 17px;
    height: 4px;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    background-color: #ff4f5a;
    border-radius: 5px;
  }
  
  .custom_nav-container .navbar-nav .nav-item .nav-link:hover::before {
    display: block;
  }
  
  .custom_nav-container .navbar-nav .nav-item.active a::before {
    display: block;
  }
  
  a,
  a:hover,
  a:focus {
    text-decoration: none;
  }
  
  a:hover,
  a:focus {
    color: initial;
  }
  
  .btn,
  .btn:focus {
    outline: none !important;
    -webkit-box-shadow: none;
    box-shadow: none;
  }
  
  .custom_nav-container .nav_search-btn {
    /* background-image: url(../../images/search-icon.png); */
    background-size: 22px;
    background-repeat: no-repeat;
    background-position-y: 7px;
    width: 35px;
    height: 35px;
    padding: 0;
    border: none;
    background-color: transparent;
  }
  
  .navbar-brand {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  
  .navbar-brand img {
    width: 45px;
    margin-right: 5px;
  }
  
  .navbar-brand span {
    font-weight: bold;
    font-size: 24px;
    color: #ffffff;
  }
  
  .custom_nav-container {
    z-index: 99999;
    padding: 5px 0;
  }
  
  .custom_nav-container .navbar-toggler {
    outline: none;
  }
 
  .custom_nav-container .navbar-toggler .navbar-toggler-icon {
    background-image: url(../../images/menu.png);
    background-size: 42px;
  }
  